body{
	background-color: #A9A9A9;
}
h1{
	color: #FAFAD2;
	text-align: center;
}
nav{
	text-align: center;
}
li a{
	color: #FEFEFE;
	font-size: 22px;
}
h2{
	color: #FAFAD2;
}
.establish{
	font-size: 12px;
}
.nor{
	text-decoration: none;
}
.shad{
	text-decoration: none;
	background-color: #D3D3D3;
}
footer{
	text-align: center;
}